%p#notice= notice

%p
  %b Ts:
  = @snap.ts
%p
  %b City:
  = @snap.city

- if @snap.congested_roads.size > 0 
  <h2>congested_roads</h2>
  - for congested_road in @snap.congested_roads do
    = congested_road.rn 
    = congested_road.href
  
= simple_form_for [@snap, CongestedRoad.new] do |f|
  = f.error_notification

  .form-inputs
    = f.input :rn
    = f.input :href

  .form-actions
    = f.button :submit

= link_to 'Edit', edit_snap_path(@snap)
\|
= link_to 'Back', snaps_path
